{% extends "base.html" %}

{% block content %}
<div class="panel">
<div class="panel-heading">
    <a href="#" active><h2>How to use my mind?</h2></a>
</div>
<div class="panel-body">
  <div class="col-sm-1">
    <h1>10</h1>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span></button>
  </div>
  <div class="col-sm-2">
    <img class="user-big-icon" src="http://avaqip.ru/img/2009/001/qip-avatars-001.gif">
  </div>
  <div class="col-sm-7">
    <p>Drag file from application to explorer. Can my application do the copying?</p>
   
    <div class="col-sm-4">
        <a href="#">Answers 5</a>
    </div>

    <div class="col-sm-2">
        <a>Tags:</a>
    </div>

    <div class="col-sm-5">
        <a href="#" class="panel panel-success">wtf</a>
        <a href="#" class="panel panel-success">mind</a>
        <a href="#" class="panel panel-success">help</a>
    </div>
  </div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
    <a href="#" active><h4>Angry rabbit:</h4></a>
</div>
<div class="panel-body">
  <div class="col-sm-1">
    <h1>5</h1>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span></button>
  </div>
  <div class="col-sm-2">
    <img class="user-big-icon" src="http://avaqip.ru/img/2009/001/qip-avatars-001.gif">
  </div>
  <div class="col-sm-7">
    <p>You must delete system32 folder</p>
   
    <div class="col-sm-4">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Correct!
          </label>
          </div>
    </div>
  </div>
</div>
</div>

<form class="form-horizontal">
<div class="form-group">
  <div class="col-xs-12">
    <textarea rows="5" class="form-control" id="question-answer" placeholder="Answer"></textarea>
  </div>
</div>

<div class="form-group">
  <div class="col-xs-12">
    <input type="submit" class="btn btn-primary" value="Ответить">
  </div>
</div>
</form>

{% endblock %}
