<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>MIPT Overflow</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="zero_level.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MIPT overflow</a>
        </div>
        
        <div class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-success">Поиск</button>
          </form>

          <form class="navbar-form navbar-left" role="search">
            <button type="submit" class="btn btn-success">Спросить</button>
          </form>

          <ul class="nav nav-pills pull-right">
            <li class="active"><img class="user-small-icon" src="http://avaqip.ru/img/2009/001/qip-avatars-001.gif"/></li>
            <li><a href="#">UserName</a></li>
            <li><a href="#">Настройки</a></li>
            <li><a href="#">Выйти</a></li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>

    <!--Main-->
      <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
              <h1>Registration</h1>

              <div class="alert alert-danger">Sorry, this email address is already registered!</div>

              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-xs-2">Логин: </label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="reg-login"placeholder="Введите логин">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-xs-2">Email:</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="reg-email" placeholder="Введите email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">Nickname:</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="reg-nickname" placeholder="Введите nickname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">Пароль:</label>
                  <div class="col-xs-10">
                    <input type="password" class="form-control" id="reg-inputPassword" placeholder="Введите пароль">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-xs-2">Подтвердите пароль:</label>
                  <div class="col-xs-10">
                    <input type="password" class="form-control" id="reg-confirmPassword" placeholder="Введите пароль ещё раз">
                  </div>
                </div>  
                <div class="form-group">
                  <label class="control-label col-xs-2">Загрузите аватарку:</label>
                  <div class="col-xs-10">
                    <button type="button" class="btn btn-default">Загрузить</button>
                  </div>
                </div>     
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-9">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="agree">  Я согласен с <a href="#">условиями</a>.
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Регистрация">
                    <input type="reset" class="btn btn-default" value="Очистить форму">
                  </div>
                </div>
              </form>



            </div>
               
            <div id="right-panel" class="col-sm-3 col-sm-offset-1 blog-sidebar">
                 <div class="side-bar-module" id="populartags">
                    <h4>Popular Tags</h4>
                    <a href="#" class="panel panel-success">C</a>
                    <a href="#" class="panel panel-success">nginx</a>
                    <a href="#" class="panel panel-success">math</a>
                    <a href="#" class="panel panel-success">Breaking Bad</a>
                    <a href="#" class="panel panel-success">Forest</a>
                    <a href="#" class="panel panel-success">gunicorn</a>
                    <a href="#" class="panel panel-success">Star Wars</a>
                </div>
                <div class="side-bar-module" id="popular-members">
                    <h4>Best Members</h4>
                    <ol id="popular-members-list">
                        <li><a href="#" class="panel panel-primary">Che</a></li>
                        <li><a href="#" class="panel panel-primary">Against</a></li>
                        <li><a href="#" class="panel panel-primary">Me</a></li>
                        <li><a href="#" class="panel panel-primary">False</a></li>
                        <li><a href="#" class="panel panel-primary">Flags</a></li>                       
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <div id="footer">
      <div class="container">
        <p class="text-muted">MIPT overflow 2015-2015
          <address class="text-muted">
            <strong>Ivan Shafran: </strong>
            <a href="mailto:#">vanobox07@mail.ru</a>
          </address>
        </p>
      </div>
    </div>
  </body>
</html>
